# Node
node_modules/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Firebase
.firebase/
firestore-debug.log
firebase-debug.log
firebase-debug.*
firestore.indexes.json
.firebaserc

# Git
*.orig
*.lock

# Editor / IDE
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary
*.swp
*~

# Testing / Coverage
coverage/
*.lcov
